cloud_id                 = "cloud_id"
folder_id                = "folder_id"
zone                     = "zone"
public_key_path          = "/path/to/ssh/pub"
service_account_key_file = "path_to_key_file"
private_key_path         = "/path/to/ssh/private"
instsnce_count           = "instsnce_count"
access_key               = "access_key"
secret_key               = "secret_key"
image_id                 = "fd8vmcue7aajpmeo39kk"
service_account_key_id   = "service_account_key_id"
